h1 {
  color: #e93e69;
  line-height: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
.weatherInfo-wrapper {
  max-width: 600px;
  margin: 30 auto;
}
.weatherInfo {
  padding: 20px;
  border: 5px solid #fe85a3;
  border-radius: 5px;
}
.resize {
  width: 60px;
  height: auto;
  margin-right: 10px;
  float: left;
}
.temp strong {
  color: #ad48bc;
  font-size: 34px;
}
.temp .unit {
  font-size: 16px;
  position: relative;
  top: -10px;
}
