h1 {
  color: #e93e69;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
.weatherInfo-wrapper {
  max-width: 600px;
}
.weatherInfo {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 5px solid #fe85a3;
  border-radius: 5px;
}
.searchbox {
  margin-top: 0px;
  margin-left: 100px;
  float: left;
}
#button {
  margin-top: -35px;
  width: 75px;
  font-size: 15px;
  text-align: center;
}
.resize {
  width: 60px;
  height: auto;
  margin-right: 10px;
  float: left;
}
#description {
  text-align: left;
  margin-top: -10px;
  margin-left: 5px;
  color: #e93e69;
  font-size: 2em;
}
.temp strong {
  color: #ad48bc;
  font-size: 34px;
}
.temp .unit {
  font-size: 16px;
  position: relative;
  top: -10px;
}
.days {
  text-align: center;
  color: #68b7f7;
}
.dates {
  text-align: center;
  margin-bottom: -20px;
  color: #68b7f7;
}
.forecast {
  border: 1px solid rgb(148, 145, 145);
  text-align: center;
  color: #596aca;
  border-radius: 4px;
}
